* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    text-align: center;
    margin-top: 30px;
}

.write-up {
    width: 300px;
    margin: 10px auto;
}

ul li {
    text-align: center;
    list-style: circle;
}

.img-container {
    width: 300px;
    margin: 20px auto;
}

.img-container img {
    width: 100%;
}